{{>admin_header}}

<div class="w-3/4 grid grid-cols-1 mx-auto lg:mt-12 mb-10 border-2 border-gray-200 p-8">
    <div class="grid grid-cols-1 space-y-6">
        <p class="text-gray-400 text-3xl font-bold text-center border-b pb-2">Add Review</p>
        <form id="add_review" action="/admin/add-review" enctype="multipart/form-data" class="grid lg:grid-cols-2 grid-cols-1 gap-3" method="POST"> 
            <div class="grid grid-cols-1 col-span-2 space-y-2">
                <label for="review_topic" class="font-bold text-lg text-gray-500">Book Name</label>
                <input type="text" id="book_name" name="book_name" class="text-gray-700 p-2 border bg-white rounded border-gray-300 focus:outline-none focus:bg-blue-100">
            </div>
            <div class="grid grid-cols-1 space-y-2">
                <label for="review_author" class="font-bold text-lg text-gray-500">Author</label>
                <input type="text" id="review_author" name="author" class="text-gray-700 p-2 border bg-white rounded border-gray-300 focus:outline-none focus:bg-blue-100">
            </div>
            <div class="grid grid-cols-1 space-y-2">
                <label for="reviewer" class="font-bold text-lg text-gray-500">Reviewer</label>
                <input type="text" id="reviewer" name="reviewer" class="text-gray-700 p-2 border bg-white rounded border-gray-300 focus:outline-none focus:bg-blue-100">
            </div>
            <div class="grid grid-cols-1 col-span-2 space-y-2">
                <label for="review" class="font-bold text-lg text-gray-500">Review</label>
                <textarea type="text" id="review" name="review" class="h-24 text-gray-700 p-2 border bg-white rounded border-gray-300 focus:outline-none focus:bg-blue-100"></textarea>
            </div>
            <div class="grid grid-cols-1 space-y-2">
                <label for="catagory" class="font-bold text-lg text-gray-500">Catagory</label>
                <input type="text" id="catagory" name="catagory" class="text-gray-700 p-2 border bg-white rounded border-gray-300 focus:outline-none focus:bg-blue-100">
            </div>
            <div class="grid grid-cols-1 space-y-2">
                <label for="article_image" class="font-bold text-lg text-gray-500">Upload Image</label>
                <input type="file" id="review_image" name="image" placeholder="Image" class="text-gray-700 p-2 border bg-white rounded border-gray-300 focus:outline-none focus:bg-blue-100">
                <img id="resizedImg" class="hidden">
            </div>
                
            <button type="submit" class="p-2 rounded-lg bg-purple-900 text-white w-1/4 hover:bg-purple-700 justify-self-end col-span-2 mt-3">Save</button>
        </form>
    </div>
</div>

    