.h1 {
    color:blue;
}

.review{
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    text-overflow: ellipsis;
}
.markdown h1{
    font-size: 1.5rem;
}
.markdown h2{
    font-size: 1.25rem;
}
.markdown h3{
    font-size: 1.125rem;
}
.markdown h4{
    font-size: 1rem;
}

/*** iNDEX PAGE **/
 @font-face {
     font-family: ge-bold;
     src: url(/static/fonts/GE\ SS\ TV\ Bold.ttf);
 }

 @font-face {
     font-family: ge-medium;
     src: url(/static/fonts/GE\ SS\ Two\ Medium.otf);
 }
 


